flow 6 conexion broker local.json
[
    {
        "id": "d5238235b5c145c8",
        "type": "tab",
        "label": "Flow 6 - G7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "81528faca5fd5995",
        "type": "mqtt in",
        "z": "d5238235b5c145c8",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3bc06062f3ea8f20",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "ff1dfe1ef4d8bace",
                "49c76dfb307d45b9"
            ]
        ]
    },
    {
        "id": "9cbc61e2b0039351",
        "type": "ui_switch",
        "z": "d5238235b5c145c8",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "f8be81c57e27c5c1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "da5e5120da528662"
            ]
        ]
    },
    {
        "id": "a6ac20e3d6fa1134",
        "type": "mqtt out",
        "z": "d5238235b5c145c8",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3bc06062f3ea8f20",
        "x": 850,
        "y": 340,
        "wires": []
    },
    {
        "id": "ff1dfe1ef4d8bace",
        "type": "debug",
        "z": "d5238235b5c145c8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 80,
        "wires": []
    },
    {
        "id": "49c76dfb307d45b9",
        "type": "json",
        "z": "d5238235b5c145c8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 180,
        "wires": [
            [
                "2a9fc3f42d95d56d",
                "3179969818033e4d",
                "9ad75544e64568bd"
            ]
        ]
    },
    {
        "id": "2a9fc3f42d95d56d",
        "type": "function",
        "z": "d5238235b5c145c8",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "9364fdedd3249a8e",
                "04b84518aea26568",
                "3562627fc3a83962"
            ]
        ]
    },
    {
        "id": "3179969818033e4d",
        "type": "function",
        "z": "d5238235b5c145c8",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 220,
        "wires": [
            [
                "7c57477756b76828",
                "f991e83cf544466a",
                "76b1f7ebff31b8f6"
            ]
        ]
    },
    {
        "id": "9364fdedd3249a8e",
        "type": "ui_chart",
        "z": "d5238235b5c145c8",
        "name": "",
        "group": "2e8ef9c380098082",
        "order": 1,
        "width": "6",
        "height": "5",
        "label": "Temperatura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#729fcf",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 890,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7c57477756b76828",
        "type": "ui_chart",
        "z": "d5238235b5c145c8",
        "name": "",
        "group": "2e8ef9c380098082",
        "order": 4,
        "width": "6",
        "height": "5",
        "label": "Humedad",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 880,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "04b84518aea26568",
        "type": "ui_gauge",
        "z": "d5238235b5c145c8",
        "name": "",
        "group": "fb0d4e39cd120f31",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Monitor Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 920,
        "y": 160,
        "wires": []
    },
    {
        "id": "f991e83cf544466a",
        "type": "ui_gauge",
        "z": "d5238235b5c145c8",
        "name": "",
        "group": "fb0d4e39cd120f31",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Monitor humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "34",
        "seg2": "66",
        "className": "",
        "x": 910,
        "y": 280,
        "wires": []
    },
    {
        "id": "3562627fc3a83962",
        "type": "ui_text",
        "z": "d5238235b5c145c8",
        "group": "f8be81c57e27c5c1",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura (ºC)",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 910,
        "y": 80,
        "wires": []
    },
    {
        "id": "76b1f7ebff31b8f6",
        "type": "ui_text",
        "z": "d5238235b5c145c8",
        "group": "f8be81c57e27c5c1",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humedad %",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 890,
        "y": 200,
        "wires": []
    },
    {
        "id": "da5e5120da528662",
        "type": "mqtt out",
        "z": "d5238235b5c145c8",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3bc06062f3ea8f20",
        "x": 550,
        "y": 500,
        "wires": []
    },
    {
        "id": "9ad75544e64568bd",
        "type": "function",
        "z": "d5238235b5c145c8",
        "name": "Aerta-temperatura",
        "func": "if (msg.payload.temp>28) {msg.payload=\"true\";}\nelse {\nmsg.payload=\"false\";}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 340,
        "wires": [
            [
                "a6ac20e3d6fa1134"
            ]
        ]
    },
    {
        "id": "20bc5a9cacc2fe0c",
        "type": "ui_spacer",
        "z": "d5238235b5c145c8",
        "name": "spacer",
        "group": "fb0d4e39cd120f31",
        "order": 2,
        "width": "1",
        "height": "1"
    },
    {
        "id": "0fd89c3a62226e84",
        "type": "ui_spacer",
        "z": "d5238235b5c145c8",
        "name": "spacer",
        "group": "fb0d4e39cd120f31",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "3bc06062f3ea8f20",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f8be81c57e27c5c1",
        "type": "ui_group",
        "name": "Condiciones actuales",
        "tab": "de208a23f3fa9afa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2e8ef9c380098082",
        "type": "ui_group",
        "name": "Gráficas",
        "tab": "de208a23f3fa9afa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb0d4e39cd120f31",
        "type": "ui_group",
        "name": "Gauges",
        "tab": "de208a23f3fa9afa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de208a23f3fa9afa",
        "type": "ui_tab",
        "name": "Temperatura-Humedad con MQTT y sensor dht11",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]