flow7_estacion_climatica.json
[
    {
        "id": "627f861b43206641",
        "type": "tab",
        "label": "Flow 7 - Estación climática",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9d8a6076c59daacd",
        "type": "comment",
        "z": "627f861b43206641",
        "name": "Enviador",
        "info": "",
        "x": 1180,
        "y": 600,
        "wires": []
    },
    {
        "id": "24a9d2a49085ba3e",
        "type": "mqtt in",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqtt",
        "qos": "2",
        "datatype": "auto",
        "broker": "3bc06062f3ea8f20",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1180,
        "y": 360,
        "wires": [
            [
                "5548dc89bda46174",
                "6134c3fa8025506e"
            ]
        ]
    },
    {
        "id": "76d23ea5a3b6dd27",
        "type": "mqtt out",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/ejemplo/mqttin",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3bc06062f3ea8f20",
        "x": 1910,
        "y": 540,
        "wires": []
    },
    {
        "id": "5548dc89bda46174",
        "type": "debug",
        "z": "627f861b43206641",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 320,
        "wires": []
    },
    {
        "id": "6134c3fa8025506e",
        "type": "json",
        "z": "627f861b43206641",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1450,
        "y": 420,
        "wires": [
            [
                "c628d8a791a250ce",
                "948d7b9914e84e29",
                "75eba23194f24f2f"
            ]
        ]
    },
    {
        "id": "c628d8a791a250ce",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Temperatura",
        "func": "//msg.topic = msg.payload.id;\n//msg.payload = msg.payload.temp;\n//return msg;\n\nmsg.topic=msg.payload.id;\nmsg.payload = msg.payload.temp;\nglobal.set (\"temp\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 380,
        "wires": [
            [
                "a75e632a5dfc15e4",
                "dbd63c53ee85f873",
                "07f62dba11bab3b5"
            ]
        ]
    },
    {
        "id": "948d7b9914e84e29",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Humedad",
        "func": "//msg.topic = msg.payload.id;\n//msg.payload = msg.payload.hum;\n//return msg;\n\n\nmsg.topic=msg.payload.id;\nmsg.payload = msg.payload.hum;\nglobal.set (\"hum\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 460,
        "wires": [
            [
                "bcfed17e171df293",
                "4ebea03bc6c8b72a",
                "843f4caf0218aeff"
            ]
        ]
    },
    {
        "id": "a75e632a5dfc15e4",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "f36e623a16f0c5e1",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Monitor Temperatura",
        "label": "ºC",
        "format": "{{value}}",
        "min": "15",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1900,
        "y": 340,
        "wires": []
    },
    {
        "id": "bcfed17e171df293",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "f36e623a16f0c5e1",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Monitor humedad",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "34",
        "seg2": "66",
        "className": "",
        "x": 1890,
        "y": 420,
        "wires": []
    },
    {
        "id": "75eba23194f24f2f",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Alerta-temperatura",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1590,
        "y": 540,
        "wires": [
            [
                "76d23ea5a3b6dd27"
            ]
        ]
    },
    {
        "id": "98d50e37fc817917",
        "type": "mqtt out",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edd3004a.11da88",
        "x": 1780,
        "y": 660,
        "wires": []
    },
    {
        "id": "82a16dc62a2ab5ef",
        "type": "inject",
        "z": "627f861b43206641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1230,
        "y": 680,
        "wires": [
            [
                "808f6a3bdd6e479f"
            ]
        ]
    },
    {
        "id": "808f6a3bdd6e479f",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Creación del json",
        "func": "msg.payload = '{\"id\":\"Raymundo\",\"temp\":' + global.get (\"tempFlow5\") + ',\"hum\":' + global.get (\"humFlow5\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 680,
        "wires": [
            [
                "a794ac0dcda67ee2",
                "98d50e37fc817917"
            ]
        ]
    },
    {
        "id": "a794ac0dcda67ee2",
        "type": "debug",
        "z": "627f861b43206641",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1710,
        "y": 720,
        "wires": []
    },
    {
        "id": "25a89b4581b15e98",
        "type": "mqtt in",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/sensores",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1250,
        "y": 880,
        "wires": [
            [
                "4a3a237ac60a7c20"
            ]
        ]
    },
    {
        "id": "4a3a237ac60a7c20",
        "type": "json",
        "z": "627f861b43206641",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1490,
        "y": 880,
        "wires": [
            [
                "914a510e279263b2",
                "d6c5937e1c38cb7d",
                "43e3551bccc56b33"
            ]
        ]
    },
    {
        "id": "914a510e279263b2",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 860,
        "wires": [
            [
                "3d1f1695c6bde2df"
            ]
        ]
    },
    {
        "id": "d6c5937e1c38cb7d",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 920,
        "wires": [
            [
                "946b8b65bb1d7719"
            ]
        ]
    },
    {
        "id": "4f778766b56a7865",
        "type": "comment",
        "z": "627f861b43206641",
        "name": "General",
        "info": "",
        "x": 1190,
        "y": 800,
        "wires": []
    },
    {
        "id": "bb689e435f175b19",
        "type": "comment",
        "z": "627f861b43206641",
        "name": "Información instantanea (DHT11)",
        "info": "",
        "x": 1214,
        "y": 197.75,
        "wires": []
    },
    {
        "id": "0402496d0e6317fa",
        "type": "http request",
        "z": "627f861b43206641",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/onecall?lat=19.556408025703472&lon=-99.02014652248187&exclude=hourly,daily&appid=92a90a9535986132b4602252f8e522b2&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1310,
        "y": 1140,
        "wires": [
            [
                "c1b021eb138c7eb8"
            ]
        ]
    },
    {
        "id": "c1b021eb138c7eb8",
        "type": "json",
        "z": "627f861b43206641",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1490,
        "y": 1140,
        "wires": [
            [
                "7aa59628a3019ec0",
                "cfdda2b649a0b346",
                "8a251251855a6da9"
            ]
        ]
    },
    {
        "id": "41169d45765188d1",
        "type": "inject",
        "z": "627f861b43206641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1110,
        "y": 1140,
        "wires": [
            [
                "0402496d0e6317fa",
                "b7c8c4a257282e08"
            ]
        ]
    },
    {
        "id": "7aa59628a3019ec0",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Temperatura",
        "func": "msg.payload = msg.payload.current.temp;\nglobal.set (\"tempFlow5\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1670,
        "y": 1060,
        "wires": [
            [
                "09cd875f84e41dc4"
            ]
        ]
    },
    {
        "id": "cfdda2b649a0b346",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Humedad",
        "func": "msg.payload = msg.payload.current.humidity;\nglobal.set (\"humFlow5\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1120,
        "wires": [
            [
                "ff6f8861f40ddafd"
            ]
        ]
    },
    {
        "id": "09cd875f84e41dc4",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "7219e191cf59b2a6",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (ºC)",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "55",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "21",
        "className": "",
        "x": 1910,
        "y": 1060,
        "wires": []
    },
    {
        "id": "ff6f8861f40ddafd",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "7219e191cf59b2a6",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humedad (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#729fcf",
            "#3465a4",
            "#204a87"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1900,
        "y": 1120,
        "wires": []
    },
    {
        "id": "8a251251855a6da9",
        "type": "function",
        "z": "627f861b43206641",
        "name": "UV",
        "func": "\nmsg.payload = msg.payload.current.uvi;\nglobal.set (\"uvFlow5\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1650,
        "y": 1180,
        "wires": [
            [
                "61bab95f950c7595"
            ]
        ]
    },
    {
        "id": "61bab95f950c7595",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "7219e191cf59b2a6",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Indíce UV",
        "label": "Index",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#fce94f",
            "#ef2929",
            "#a40000"
        ],
        "seg1": "5",
        "seg2": "7",
        "className": "",
        "x": 1880,
        "y": 1180,
        "wires": []
    },
    {
        "id": "c72214e22967a36b",
        "type": "comment",
        "z": "627f861b43206641",
        "name": "Solicitud API",
        "info": "Solicitud API",
        "x": 1090,
        "y": 1080,
        "wires": []
    },
    {
        "id": "b7c8c4a257282e08",
        "type": "http request",
        "z": "627f861b43206641",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://api.openweathermap.org/data/2.5/air_pollution?lat=19.556408025703472&lon=-99.02014652248187&appid=92a90a9535986132b4602252f8e522b2&units=metric",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 1150,
        "y": 1240,
        "wires": [
            [
                "0d6142194ef0e0cb"
            ]
        ]
    },
    {
        "id": "0d6142194ef0e0cb",
        "type": "json",
        "z": "627f861b43206641",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1310,
        "y": 1240,
        "wires": [
            [
                "20a2e0b17bad7596"
            ]
        ]
    },
    {
        "id": "20a2e0b17bad7596",
        "type": "function",
        "z": "627f861b43206641",
        "name": "calidad aire",
        "func": "\nmsg.payload = msg.payload.list[0].main.aqi;\nglobal.set (\"aqi\", msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1490,
        "y": 1240,
        "wires": [
            [
                "b6c4055dc7c59f75"
            ]
        ]
    },
    {
        "id": "b6c4055dc7c59f75",
        "type": "ui_gauge",
        "z": "627f861b43206641",
        "name": "",
        "group": "7219e191cf59b2a6",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Indice calidad del aire",
        "label": "Indice",
        "format": "{{value}}",
        "min": "0",
        "max": "5",
        "colors": [
            "#8ae234",
            "#f57900",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "4",
        "className": "",
        "x": 1900,
        "y": 1240,
        "wires": []
    },
    {
        "id": "7d7d3187240c43a5",
        "type": "mqtt out",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "edd3004a.11da88",
        "x": 1760,
        "y": 1400,
        "wires": []
    },
    {
        "id": "2a101ce6561bf690",
        "type": "inject",
        "z": "627f861b43206641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "120",
        "crontab": "",
        "once": false,
        "onceDelay": "15",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 1460,
        "wires": [
            [
                "bb8069117c2ba4e5"
            ]
        ]
    },
    {
        "id": "bb8069117c2ba4e5",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Creación del json",
        "func": "msg.payload = '{\"id\":\"Raymundo\",\"temp\":' + global.get (\"tempFlow5\") + ',\"hum\":' + global.get (\"humFlow5\") + ',\"uv\":' + global.get (\"uvFlow5\") + ',\"aqi\":' + global.get (\"aqi\") + '}';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 1460,
        "wires": [
            [
                "e718159bfd153752",
                "7d7d3187240c43a5"
            ]
        ]
    },
    {
        "id": "de728821928c37ab",
        "type": "comment",
        "z": "627f861b43206641",
        "name": "Enviador",
        "info": "",
        "x": 1120,
        "y": 1380,
        "wires": []
    },
    {
        "id": "e718159bfd153752",
        "type": "debug",
        "z": "627f861b43206641",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1770,
        "y": 1500,
        "wires": []
    },
    {
        "id": "66410a58dfc4ea5d",
        "type": "mqtt in",
        "z": "627f861b43206641",
        "name": "",
        "topic": "codigoIoT/g7/mosquitto/API",
        "qos": "2",
        "datatype": "auto",
        "broker": "edd3004a.11da88",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1300,
        "y": 2240,
        "wires": [
            [
                "d46ffc92b1cb6b52"
            ]
        ]
    },
    {
        "id": "d46ffc92b1cb6b52",
        "type": "json",
        "z": "627f861b43206641",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 1550,
        "y": 2240,
        "wires": [
            [
                "bc151ddd9bf655a1",
                "8a976c8f5421b0b4",
                "48979f41e71798ac",
                "c36297fb3a2d810c",
                "228d28a6810bc861"
            ]
        ]
    },
    {
        "id": "bc151ddd9bf655a1",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Temperatura",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 2220,
        "wires": [
            [
                "8b48878d47ea200d"
            ]
        ]
    },
    {
        "id": "8a976c8f5421b0b4",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Humedad",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.hum;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 2280,
        "wires": [
            [
                "8d1ecf713b5fe5ea"
            ]
        ]
    },
    {
        "id": "48979f41e71798ac",
        "type": "function",
        "z": "627f861b43206641",
        "name": "UV",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.uv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1710,
        "y": 2340,
        "wires": [
            [
                "7811e4d939cd6462"
            ]
        ]
    },
    {
        "id": "c36297fb3a2d810c",
        "type": "function",
        "z": "627f861b43206641",
        "name": "Calidad del aire",
        "func": "msg.topic = msg.payload.id;\nmsg.payload = msg.payload.aqi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1680,
        "y": 2400,
        "wires": [
            [
                "6cf9353ca4b1baee"
            ]
        ]
    },
    {
        "id": "228d28a6810bc861",
        "type": "debug",
        "z": "627f861b43206641",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1710,
        "y": 2500,
        "wires": []
    },
    {
        "id": "43e3551bccc56b33",
        "type": "debug",
        "z": "627f861b43206641",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1630,
        "y": 980,
        "wires": []
    },
    {
        "id": "dbd63c53ee85f873",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "ec839f8b19c636ff",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura obtenida con el sensor (Histórico)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1980,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "4ebea03bc6c8b72a",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "ec839f8b19c636ff",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad obtenida con el sensor (Histórico)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "3d1f1695c6bde2df",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "15537c64ccf1737c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura (ºC)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1870,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "946b8b65bb1d7719",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "15537c64ccf1737c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1850,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "8b48878d47ea200d",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "4e565a4486c2879f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperatura (ºC)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2010,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "8d1ecf713b5fe5ea",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "4e565a4486c2879f",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Humedad (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#8ae234",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2020,
        "y": 2260,
        "wires": [
            []
        ]
    },
    {
        "id": "7811e4d939cd6462",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "4e565a4486c2879f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Índice UV",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#fcaf3e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1980,
        "y": 2320,
        "wires": [
            []
        ]
    },
    {
        "id": "6cf9353ca4b1baee",
        "type": "ui_chart",
        "z": "627f861b43206641",
        "name": "",
        "group": "4e565a4486c2879f",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Índice calidad del aire",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#ef2929",
            "#ff9896",
            "#ad7fa8",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 2000,
        "y": 2400,
        "wires": [
            []
        ]
    },
    {
        "id": "07f62dba11bab3b5",
        "type": "ui_text",
        "z": "627f861b43206641",
        "group": "f36e623a16f0c5e1",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperatura (ºC)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1890,
        "y": 300,
        "wires": []
    },
    {
        "id": "843f4caf0218aeff",
        "type": "ui_text",
        "z": "627f861b43206641",
        "group": "f36e623a16f0c5e1",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humedad (%)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1880,
        "y": 480,
        "wires": []
    },
    {
        "id": "29896dca32ddca88",
        "type": "ui_spacer",
        "z": "627f861b43206641",
        "name": "spacer",
        "group": "f36e623a16f0c5e1",
        "order": 2,
        "width": 7,
        "height": 1
    },
    {
        "id": "104af2b95531ee82",
        "type": "ui_spacer",
        "z": "627f861b43206641",
        "name": "spacer",
        "group": "f36e623a16f0c5e1",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "3bc06062f3ea8f20",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "f36e623a16f0c5e1",
        "type": "ui_group",
        "name": "Datos instantaneos del sensor",
        "tab": "70e518ef447ab7fd",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "edd3004a.11da88",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "18.198.121.142",
        "port": "1883",
        "clientid": "hugo-SIC-453",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "7219e191cf59b2a6",
        "type": "ui_group",
        "name": "Datos instantáneos obtenidos por API",
        "tab": "70e518ef447ab7fd",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "ec839f8b19c636ff",
        "type": "ui_group",
        "name": "Datos Instantáneos obtenidos por sensor",
        "tab": "70e518ef447ab7fd",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "15537c64ccf1737c",
        "type": "ui_group",
        "name": "Datos Sensores grupal",
        "tab": "70e518ef447ab7fd",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "4e565a4486c2879f",
        "type": "ui_group",
        "name": "Histórico grupal API",
        "tab": "70e518ef447ab7fd",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "70e518ef447ab7fd",
        "type": "ui_tab",
        "name": "Estación climática",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]